<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 使用映射接口的方式， 命名空间的值必须与映射接口的全限定名一致 -->
<mapper namespace="com.yc.mogujie.mapper.DetailMapper">
	<select id="SelectProductByProid" parameterType="int" resultType="Product">
		select * from product where proid=#{proid} 
	</select>
	<select id="SelectColorByProid" parameterType="int" resultType="Detail">
	  select pcolor,color from detail group by pcolor,color having  count(*)>1 
	</select>
	<select id="SelectPsizeByProid" parameterType="int" resultType="Detail">
	  select distinct(psize) from detail where proid=#{proid} 
	</select>
	<select id="SelectNumberBySizeAndColor" parameterType="Detail" resultType="String">
		  select counts from detail where proid=#{proid} and psize=#{psize} and color=#{color}
	</select>
	<select id="selectFeedBack" parameterType="int" resultType="FeedbackBean">
		    select u.uname,f.content,f.fdate from feedback f,userInfo u where f.usid=u.usid and f.proid=#{proid}
	</select>
</mapper>