<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 使用映射接口的方式， 命名空间的值必须与映射接口的全限定名一致 -->
<mapper namespace="com.yc.mogujie.mapper.FuKuanInfoMapper">
	<select id="selectFuKuanInfo" parameterType="FuKuanInfoBean" resultType="String">
		select prophoto from product where proid=#{proid}
	</select>
	<select id="selectMorenAddress" parameterType="int" resultType="Address">
		  select * from address where usid=#{usid} and statue=1
	</select>
</mapper>