<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 使用映射接口的方式， 命名空间的值必须与映射接口的全限定名一致 -->
<mapper namespace="com.yc.mogujie.mapper.IndexMapper">
	<select id="selectCategoryOne" resultType="Categoryone">
		select * from categoryone
	</select>
	<select id="selectCategoryTwo" resultType="Categorytwo">
		select * from categorytwo
	</select>
	
	<select id="selectGuanGao" resultType="GuangGaoBean">
	    select gid,weizhi,gPhoto,gdates,gdateo,proid from guanggao g,advertise a where g.aid=a.aid and sysdate>gdates and gdateo>sysdate
	</select>
	  
	<select id="selectProductByobligateone" resultType="Product">
		select a.* from(
  			select p.* from product p,categoryone c1,categorytwo c2,categorythree c3 where p.categoryidthree=c3.categoryidthree and c3.categoryidtwo=c2.categoryidtwo and c2.categoryidone=c1.categoryidone and c1.categorytypeone!='鞋子'  order by p.obligateone desc
 		 )a  where  6>rownum 
	</select>
	<select id="selectRenqiNvxie" resultType="Product">
		select a.* from(
  			select p.* from product p,categoryone c1,categorytwo c2,categorythree c3 where p.categoryidthree=c3.categoryidthree and c3.categoryidtwo=c2.categoryidtwo and c2.categoryidone=c1.categoryidone and c1.categorytypeone='鞋子'  order by p.obligateone desc
 		 )a  where  11>rownum 
	</select>
</mapper>
