<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 使用映射接口的方式， 命名空间的值必须与映射接口的全限定名一致 -->
<mapper namespace="com.yc.mogujie.mapper.UserOrderMapper">
	<select id="findAllOrder" parameterType="int" resultType="UserOrderBean">
		select distinct uo.orderid,uo.datetime,uo.ostatus,
  				p.prophoto,p.procontent,p.proprice,
  				d.color,d.psize,
  				od.buyprice,od.onumber 
  				from product p,detail d,userOrder uo,orderdetail od,userInfo u 
  				where p.proid=d.proid and od.proid=p.proid and 
  				od.orderid=uo.orderid and uo.usid=u.usid and u.usid=#{usid} 
  				and uo.ostatus between 1 and 3
	</select>
	
	<select id="findNoPayOrder" parameterType="int" resultType="UserOrderBean">
		select distinct uo.orderid,uo.datetime,uo.ostatus,
						p.prophoto,p.procontent,p.proprice,
						d.color,d.psize,
						od.buyprice,od.onumber 
						from product p,detail d,userOrder uo,orderdetail od,userInfo u 
						where p.proid=d.proid and od.proid=p.proid and od.orderid=uo.orderid 
						and uo.usid=u.usid and u.usid=#{usid} and uo.ostatus=1
	</select>
	
	<select id="findPaiedOrder" parameterType="int" resultType="UserOrderBean">
		select distinct uo.orderid,uo.datetime,uo.ostatus,
						p.prophoto,p.procontent,p.proprice,
						d.color,d.psize,
						od.buyprice,od.onumber 
						from product p,detail d,userOrder uo,orderdetail od,userInfo u 
						where p.proid=d.proid and od.proid=p.proid and od.orderid=uo.orderid 
						and uo.usid=u.usid and u.usid=#{usid} and uo.ostatus=2
	</select>
</mapper>
