@charset "utf-8";
/* CSS Document */
#content{
	width:100%;
	height:100%;
	margin-top:30px;
	}
	
.content3{
	margin-top:20px;
	width:1000px;
	height:400px;
	}

.content3 #content32{
	float:left;
	width:200px;
	margin-top: 30px;
	}
.content3 #content32 a img{
	width:180px;
	height:280px;}
.content3 #content32 p a{
	font-size:14px;
	color: #666;
    display: block;
    float: left;
    height: 17px;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;}
.content3 #content32 div{
	float:left;
	}
.content321{
	color:#FF5466;
	font-size:15px;
	margin-left:70px;
	}
.content322{
	margin-left:10px;
	background:url(../image/aixing.png) no-repeat 3px;
	color:#999;
	}
.content1 #pp1{
	background:#FFF;
	}
#content .title1 p{
	margin-left: 200px;
	margin-top: 10px;
	color:#666;
	font-size:16px;
}
#content .title1 div{
	float:left;
	width:1000px;
	height:40px;
	border-bottom: 1px solid #c0c0c0;
	border-top: 1px solid #c0c0c0;
	border-left: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;
	margin-left: 170px;
	margin-top: 10px;
	color:#666;
	font-size:15px;
}
#content .title1 span{
	float: left;
	margin-left: 20px;
	text-align: center;
	margin-top: 10px;
}
#content .title1 ul{
	float:left;
	list-style: none;
	margin-left: -40px;
}
#content .title1 ul li{
	float:left;
	margin-left: 20px;
	margin-top: 10px;
	cursor: pointer;
}
#tit_1{
	border-bottom: 2px solid red;
	margin-top: -40px;
}
#tit_1 p{
	margin-bottom: 10px;
}
#tit_1 .content_1{
	margin-left: 170px;
	font-size: 20px;
}
#tit_1 a:hover{
	cursor: pointer;
	color:red;
}
.title1 a:hover{
	cursor: pointer;
	color:red;
}
